<launch>
  
  <param name="/use_sim_time" value="true" />

  <arg name="load_state_filename" default="$(env HOME)/Downloads/current-map-build.bag.pbstream"/>
  <arg name="bag_filename" default="$(env HOME)/Downloads/current.bag"/>

  <param name="robot_description"
    textfile="$(find cartographer_ros)/urdf/backpack_2d.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename rplidar_localization.lua
          -load_state_filename $(arg load_state_filename)"
      output="log">
    <remap from="scan" to="scan" />
  </node>

  <node name="playbag" pkg="rosbag" type="play" args="--clock $(arg bag_filename)" />

</launch>
